.button-container {
    align-content: center;
    display: flex;
    width: 10%;

    @include breakpoint(medium) {
        width: 5%;
    }

    .prev, .next {
        border: none;
        font-size: ms(3);
        width: 100%;

        &:hover {
            cursor: pointer;
        }
    }

    .prev {
        transform: scaleX(-1);
    }
}

.button {
    background: $color__light-green;
    border-radius: 1rem;
    color: $color__dark;
    padding: 1rem 2rem;
    text-decoration: none;

    &:hover, &:focus {
        background-color: lighten($color__light-green, 20%);
    }
}

.graphic-section-small {
    $width: 5rem; 

    display: inline-block;
    height: $width * 0.625;
    position: relative;
    width: $width;

    .segment {
        animation: none;
        height: $width * 0.625;
        width: $width * 0.625;

        &__1, &__2, &__3, &__4, &__5, &__6 {
            background-color: $color__white;
        }
    }
}


[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.icon-twitter:before {
    content: "\ea96";
}
.icon-twitch:before {
    content: "\ea9f";
}
.icon-github:before {
    content: "\eab0";
}
.icon-linkedin:before {
    content: "\eaca";
}

.icon {
    color: $color__light-green;
    font-size: ms(6);
    text-decoration: none;

    &:hover, &:focus {
        color: lighten($color__light-green, 20%);
    }
}

.inner-section {
    margin: 0 auto;
    max-width: 120rem;
}

.portfolio-grid {
    display: flex;
    padding: 6rem 0;
    width: 80%;

    @include breakpoint(medium) {
        width: 90%;
    }
}

.portfolio-item-link {
    display: flex;
}

.portfolio-item {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;

    filter: grayscale(100%);
    flex-grow: 1;

    &:hover {
        filter: none;
    }

    figure img{
        max-width: 20rem;
    }
}

.segment {
    background: $color__white;
    clip-path: polygon(50% 0, 100% 100%, 100% 100%, 0% 100%);
    height: $graphic-width-small * 0.625;
    position: absolute;
    transition: clip-path .4s;
    width: $graphic-width-small * 0.625;

    @include breakpoint(medium) {
        height: $graphic-width-large * 0.625;
        width: $graphic-width-large * 0.625;
    }
    
    &.active {
        z-index: 1;
    }
    
    &__1, &__2 {
        left: 0;  
        
        &.active {
            clip-path: polygon(50% 0, 100% 100%, 100% 100%, 0% 100%);
        }
    }
    
    &__1 {
        animation: pop-in .2s ease-in backwards, color-fade .5s ease-in 1.5s forwards;
        background: $color__blue;
        clip-path: polygon(50% 0, 63% 27%, 27% 100%, 0% 100%);

        &.active {
            background: $color__blue !important;
        }
    }
    
    &__2 {
        animation: pop-in .2s ease-in .2s backwards, color-fade .5s ease-in 1.5s forwards;
        background: $color__dark-green;
        clip-path: polygon(65% 30%, 78% 57%, 57% 100%, 30% 100%); 

        &.active {
            background: $color__dark-green !important;
        }
    }
    
    &__3, &__4 {
        left: 50%;
        transform: translateX(-50%);
        
        &.active {
            clip-path: polygon(50% 0, 100% 100%, 50% 100%, 0% 100%);
        }
    }
    
    &__3 {
        animation: pop-in .2s ease-in .4s backwards, color-fade .5s ease-in 1.5s forwards;
        background: $color__light-green;
        clip-path: polygon(50% 60%, 70% 100%, 70% 100%, 30% 100%, );

        &.active {
            background: $color__light-green !important;
        }
    }
    
    &__4 {
        animation: pop-in .2s ease-in 1s backwards, color-fade .5s ease-in 1.5s forwards;
        background: $color__gold;
        clip-path: polygon(50% 0, 63% 27%, 50% 54%, 37% 27%);

        &.active {
            background: $color__gold !important;
        }
    }
    
    &__5, &__6 {
        right: 0;
        
        &.active {
            clip-path: polygon(50% 0, 100% 100%, 0% 100%, 0% 100%);
        }
    }
    
    &__5 {
        animation: pop-in .2s ease-in .6s backwards, color-fade .5s ease-in 1.5s forwards;
        background: $color__light-grey;
        clip-path: polygon(35% 30%, 70% 100%, 43% 100%, 22% 57%);

        &.active {
            background: $color__light-grey !important;
        }
    }
    
    &__6 {
        animation: pop-in .2s ease-in .8s backwards, color-fade .5s ease-in 1.5s forwards;
        background: $color__slate ;
        clip-path: polygon(50% 0, 100% 100%, 73% 100%, 37% 27%);

        &.active {
            background: $color__slate!important;
        }
    }
}

.slider-container {
    background: $color__white;
    display: flex;
    width: 100vw;
}

.small-graphic {
    padding-bottom: 1rem;
}

.title-section {
    align-items: center;
    display: flex;
    flex-direction: column;
}