$color__white: #EFEFF3;
$color__dark: #1C181F;
$color__light-green: #26D696;
$color__dark-green: #3AAA9B;
$color__gold: #EBBE47;
$color__blue: #139DB7;
$color__slate: #758A8E;
$color__light-grey: lighten($color__slate, 20%);