@import '../../../node_modules/modularscale-sass/stylesheets/modularscale';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$font__main: 'Roboto', sans-serif;
$font__heading: 'Raleway', sans-serif;

$modularscale: (
  base: 10px,
  ratio: 1.2
);